<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.eric.a101umeng01push01">

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <meta-data
            android:name="UMENG_APPKEY"
            android:value="5975a1c4aed179167a00048b" />
        <meta-data
            android:name="UMENG_MESSAGE_SECRET"
            android:value="8bf22a7c81e5f0b4fd6bb1e100578ca6" />
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="Umeng" />
    </application>

</manifest>